@import-normalize;

body,
#root {
  margin: 0;
  height: 100vh;
}

*,
*::before,
*::after {

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  padding: 0;
  margin: 0;
}

textarea {
  overflow: auto;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
  outline: none;
}

img,
video,
iframe {
  border: 0;
  vertical-align: middle;
  max-inline-size: 100%;
  block-size: auto;
}